ultralytics
streamlit
pandas
Pillow
flask
opencv-python
numpy
pyserial
torch
tensorflow
torchvision
tqdm
# Пакеты для Raspberry Pi устанавливаются только на Linux
picamera; platform_system == "Linux"
RPi.GPIO; platform_system == "Linux"
